### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea
# C extensions
*.so
*.iml
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

/.webui_secret_key
/docs/
/src/chromadb/
/src/models_cache/
/chromadb/34491d81-e202-4f5a-a571-6b85177259da/data_level0.bin
/chromadb/34491d81-e202-4f5a-a571-6b85177259da/header.bin
/chromadb/34491d81-e202-4f5a-a571-6b85177259da/index_metadata.pickle
/chromadb/34491d81-e202-4f5a-a571-6b85177259da/length.bin
/chromadb/34491d81-e202-4f5a-a571-6b85177259da/link_lists.bin
/chromadb/chroma.sqlite3
/tests/chromadb/
/tests/chromadb_test/1de87421-945d-4322-8cfa-cb5362d36406/data_level0.bin
/tests/chromadb_test/1de87421-945d-4322-8cfa-cb5362d36406/header.bin
/tests/chromadb_test/1de87421-945d-4322-8cfa-cb5362d36406/length.bin
/tests/chromadb_test/1de87421-945d-4322-8cfa-cb5362d36406/link_lists.bin
/tests/chromadb_test/04ec5f52-9363-4f3c-9c86-2f225580556b/data_level0.bin
/tests/chromadb_test/04ec5f52-9363-4f3c-9c86-2f225580556b/header.bin
/tests/chromadb_test/04ec5f52-9363-4f3c-9c86-2f225580556b/index_metadata.pickle
/tests/chromadb_test/04ec5f52-9363-4f3c-9c86-2f225580556b/length.bin
/tests/chromadb_test/04ec5f52-9363-4f3c-9c86-2f225580556b/link_lists.bin
/tests/chromadb_test/6e80ba19-9e43-42a7-91a4-2c5bb2741fc8/data_level0.bin
/tests/chromadb_test/6e80ba19-9e43-42a7-91a4-2c5bb2741fc8/header.bin
/tests/chromadb_test/6e80ba19-9e43-42a7-91a4-2c5bb2741fc8/index_metadata.pickle
/tests/chromadb_test/6e80ba19-9e43-42a7-91a4-2c5bb2741fc8/length.bin
/tests/chromadb_test/6e80ba19-9e43-42a7-91a4-2c5bb2741fc8/link_lists.bin
/tests/chromadb_test/8f13bbba-2e81-4236-8b9b-01e232421c19/data_level0.bin
/tests/chromadb_test/8f13bbba-2e81-4236-8b9b-01e232421c19/header.bin
/tests/chromadb_test/8f13bbba-2e81-4236-8b9b-01e232421c19/index_metadata.pickle
/tests/chromadb_test/8f13bbba-2e81-4236-8b9b-01e232421c19/length.bin
/tests/chromadb_test/8f13bbba-2e81-4236-8b9b-01e232421c19/link_lists.bin
/tests/chromadb_test/27a4d70d-0ce8-404f-9e07-7616c3b5b1e0/data_level0.bin
/tests/chromadb_test/27a4d70d-0ce8-404f-9e07-7616c3b5b1e0/header.bin
/tests/chromadb_test/27a4d70d-0ce8-404f-9e07-7616c3b5b1e0/index_metadata.pickle
/tests/chromadb_test/27a4d70d-0ce8-404f-9e07-7616c3b5b1e0/length.bin
/tests/chromadb_test/27a4d70d-0ce8-404f-9e07-7616c3b5b1e0/link_lists.bin
/tests/chromadb_test/461ca175-afd4-447c-805d-7465f9d248a4/data_level0.bin
/tests/chromadb_test/461ca175-afd4-447c-805d-7465f9d248a4/header.bin
/tests/chromadb_test/461ca175-afd4-447c-805d-7465f9d248a4/index_metadata.pickle
/tests/chromadb_test/461ca175-afd4-447c-805d-7465f9d248a4/length.bin
/tests/chromadb_test/461ca175-afd4-447c-805d-7465f9d248a4/link_lists.bin
/tests/chromadb_test/856c70fb-6659-40a3-b76a-92e711dd0df1/data_level0.bin
/tests/chromadb_test/856c70fb-6659-40a3-b76a-92e711dd0df1/header.bin
/tests/chromadb_test/856c70fb-6659-40a3-b76a-92e711dd0df1/index_metadata.pickle
/tests/chromadb_test/856c70fb-6659-40a3-b76a-92e711dd0df1/length.bin
/tests/chromadb_test/856c70fb-6659-40a3-b76a-92e711dd0df1/link_lists.bin
/tests/chromadb_test/55651d10-82bd-4e63-95de-9d7c09056f0b/data_level0.bin
/tests/chromadb_test/55651d10-82bd-4e63-95de-9d7c09056f0b/header.bin
/tests/chromadb_test/55651d10-82bd-4e63-95de-9d7c09056f0b/index_metadata.pickle
/tests/chromadb_test/55651d10-82bd-4e63-95de-9d7c09056f0b/length.bin
/tests/chromadb_test/55651d10-82bd-4e63-95de-9d7c09056f0b/link_lists.bin
/tests/chromadb_test/bebbd958-a4fe-493e-ab82-abf688be437c/data_level0.bin
/tests/chromadb_test/bebbd958-a4fe-493e-ab82-abf688be437c/header.bin
/tests/chromadb_test/bebbd958-a4fe-493e-ab82-abf688be437c/index_metadata.pickle
/tests/chromadb_test/bebbd958-a4fe-493e-ab82-abf688be437c/length.bin
/tests/chromadb_test/bebbd958-a4fe-493e-ab82-abf688be437c/link_lists.bin
/tests/chromadb_test/c7df4398-d8b4-44e4-a2b2-75e483f47699/data_level0.bin
/tests/chromadb_test/c7df4398-d8b4-44e4-a2b2-75e483f47699/header.bin
/tests/chromadb_test/c7df4398-d8b4-44e4-a2b2-75e483f47699/index_metadata.pickle
/tests/chromadb_test/c7df4398-d8b4-44e4-a2b2-75e483f47699/length.bin
/tests/chromadb_test/c7df4398-d8b4-44e4-a2b2-75e483f47699/link_lists.bin
/tests/chromadb_test/c587aacc-35fc-4afe-9386-0145bd1334ba/data_level0.bin
/tests/chromadb_test/c587aacc-35fc-4afe-9386-0145bd1334ba/header.bin
/tests/chromadb_test/c587aacc-35fc-4afe-9386-0145bd1334ba/index_metadata.pickle
/tests/chromadb_test/c587aacc-35fc-4afe-9386-0145bd1334ba/length.bin
/tests/chromadb_test/c587aacc-35fc-4afe-9386-0145bd1334ba/link_lists.bin
/tests/chromadb_test/cb7a678f-dcd3-4d37-89d7-679d971575f4/data_level0.bin
/tests/chromadb_test/cb7a678f-dcd3-4d37-89d7-679d971575f4/header.bin
/tests/chromadb_test/cb7a678f-dcd3-4d37-89d7-679d971575f4/index_metadata.pickle
/tests/chromadb_test/cb7a678f-dcd3-4d37-89d7-679d971575f4/length.bin
/tests/chromadb_test/cb7a678f-dcd3-4d37-89d7-679d971575f4/link_lists.bin
/tests/chromadb_test/e8b05946-b377-40bd-9518-f69f2eb7d9cb/data_level0.bin
/tests/chromadb_test/e8b05946-b377-40bd-9518-f69f2eb7d9cb/header.bin
/tests/chromadb_test/e8b05946-b377-40bd-9518-f69f2eb7d9cb/index_metadata.pickle
/tests/chromadb_test/e8b05946-b377-40bd-9518-f69f2eb7d9cb/length.bin
/tests/chromadb_test/e8b05946-b377-40bd-9518-f69f2eb7d9cb/link_lists.bin
/tests/chromadb_test/e15c6bd1-c250-4bc5-b65b-75acd719e687/data_level0.bin
/tests/chromadb_test/e15c6bd1-c250-4bc5-b65b-75acd719e687/header.bin
/tests/chromadb_test/e15c6bd1-c250-4bc5-b65b-75acd719e687/index_metadata.pickle
/tests/chromadb_test/e15c6bd1-c250-4bc5-b65b-75acd719e687/length.bin
/tests/chromadb_test/e15c6bd1-c250-4bc5-b65b-75acd719e687/link_lists.bin
/tests/chromadb_test/f4a8349e-e5aa-48f3-95c9-23272fdb031e/data_level0.bin
/tests/chromadb_test/f4a8349e-e5aa-48f3-95c9-23272fdb031e/header.bin
/tests/chromadb_test/f4a8349e-e5aa-48f3-95c9-23272fdb031e/index_metadata.pickle
/tests/chromadb_test/f4a8349e-e5aa-48f3-95c9-23272fdb031e/length.bin
/tests/chromadb_test/f4a8349e-e5aa-48f3-95c9-23272fdb031e/link_lists.bin
/tests/chromadb_test/f44b17d2-98b3-4019-be4e-a8e186bdf0c8/data_level0.bin
/tests/chromadb_test/f44b17d2-98b3-4019-be4e-a8e186bdf0c8/header.bin
/tests/chromadb_test/f44b17d2-98b3-4019-be4e-a8e186bdf0c8/index_metadata.pickle
/tests/chromadb_test/f44b17d2-98b3-4019-be4e-a8e186bdf0c8/length.bin
/tests/chromadb_test/f44b17d2-98b3-4019-be4e-a8e186bdf0c8/link_lists.bin
/tests/chromadb_test/chroma.sqlite3
/tests/docs/tmp2xhoaylg.txt
/tests/docs/war_and_peace.txt
/tests/models_cache/models--intfloat--multilingual-e5-small/.no_exist/c007d7ef6fd86656326059b28395a7a03a7c5846/adapter_config.json
/tests/models_cache/models--intfloat--multilingual-e5-small/.no_exist/c007d7ef6fd86656326059b28395a7a03a7c5846/added_tokens.json
/tests/models_cache/models--intfloat--multilingual-e5-small/.no_exist/c007d7ef6fd86656326059b28395a7a03a7c5846/chat_template.jinja
/tests/models_cache/models--intfloat--multilingual-e5-small/.no_exist/c007d7ef6fd86656326059b28395a7a03a7c5846/config_sentence_transformers.json
/tests/models_cache/models--intfloat--multilingual-e5-small/blobs/0b44a9d7b51c3c62626640cda0e2c2f70fdacdc25bbbd68038369d14ebdf4c39
/tests/models_cache/models--intfloat--multilingual-e5-small/blobs/1a55775f53449dac10a2bcbc312469fac40b96d53198c407081a831f81c98477
/tests/models_cache/models--intfloat--multilingual-e5-small/blobs/4eca68d85ecd3034cf4174d8a4033a75344ea62d
/tests/models_cache/models--intfloat--multilingual-e5-small/blobs/60a2a84020f1d74cc53ea9e8c4e91cf4af6c2b68
/tests/models_cache/models--intfloat--multilingual-e5-small/blobs/059214673d9d6d2ee319411e2ffec8c024b816d5
/tests/models_cache/models--intfloat--multilingual-e5-small/blobs/ac2039abdf6ff023b27c919bb9675cfe378cb10f
/tests/models_cache/models--intfloat--multilingual-e5-small/blobs/acbd4014202bf4dbc6c03229bcbeef7c4feafb58
/tests/models_cache/models--intfloat--multilingual-e5-small/blobs/cfc8146abe2a0488e9e2a0c56de7952f7c11ab059eca145a0a727afce0db2865
/tests/models_cache/models--intfloat--multilingual-e5-small/blobs/e0b1d18ecd0ae4ff1d47bd297d910c0cf83e504b
/tests/models_cache/models--intfloat--multilingual-e5-small/blobs/e56327af55e9742caf76bff9ba83b6904cd2003d
/tests/models_cache/models--intfloat--multilingual-e5-small/refs/main
/tests/models_cache/models--intfloat--multilingual-e5-small/snapshots/c007d7ef6fd86656326059b28395a7a03a7c5846/1_Pooling/config.json
/tests/models_cache/models--intfloat--multilingual-e5-small/snapshots/c007d7ef6fd86656326059b28395a7a03a7c5846/config.json
/tests/models_cache/models--intfloat--multilingual-e5-small/snapshots/c007d7ef6fd86656326059b28395a7a03a7c5846/model.safetensors
/tests/models_cache/models--intfloat--multilingual-e5-small/snapshots/c007d7ef6fd86656326059b28395a7a03a7c5846/modules.json
/tests/models_cache/models--intfloat--multilingual-e5-small/snapshots/c007d7ef6fd86656326059b28395a7a03a7c5846/README.md
/tests/models_cache/models--intfloat--multilingual-e5-small/snapshots/c007d7ef6fd86656326059b28395a7a03a7c5846/sentence_bert_config.json
/tests/models_cache/models--intfloat--multilingual-e5-small/snapshots/c007d7ef6fd86656326059b28395a7a03a7c5846/sentencepiece.bpe.model
/tests/models_cache/models--intfloat--multilingual-e5-small/snapshots/c007d7ef6fd86656326059b28395a7a03a7c5846/special_tokens_map.json
/tests/models_cache/models--intfloat--multilingual-e5-small/snapshots/c007d7ef6fd86656326059b28395a7a03a7c5846/tokenizer.json
/tests/models_cache/models--intfloat--multilingual-e5-small/snapshots/c007d7ef6fd86656326059b28395a7a03a7c5846/tokenizer_config.json
/tests/test_data_temp/test_exact_match.md
/tests/test_data_temp/test_rrf.md
/tests/test_data_integration/test_corpus.md
